Source: apx
Section: utils
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 11),
Homepage: https://github.com/vanilla-os/apx/
Vcs-Browser: hhttps://github.com/vanilla-os/apx
Vcs-Git: https://github.com/vanilla-os/apx.git
Rules-Requires-Root: no

Package: apx
Architecture: all
Depends: bash-completion,
         podman
Description: Apx is a wrapper around apt to make it works inside a container 
  from outside, directly on the host.
