Source: apx
Section: devel
Priority: extra
Maintainer: Mirko Brombin <send@mirko.pm>
Uploaders: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go,
               golang-github-spf13-cobra-dev,
               golang-github-spf13-viper-dev,
               golang-github-google-uuid-dev,
               golang-github-mattn-go-sqlite3-dev
Standards-Version: 3.9.6
Homepage: https://github.com/vanilla-os/apx
Vcs-Browser: https://github.com/vanilla-os/apx
Vcs-Git: git://github.com/vanilla-os/apx.git

Package: apx
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         micro-distrobox,
         podman,
         golang-go,
         golang-github-spf13-cobra-dev,
         golang-github-spf13-viper-dev,
         golang-github-google-uuid-dev,
         golang-github-briandowns-spinner-dev,
Built-Using: ${misc:Built-Using}
Description: Apx is the default package manager in Vanilla OS.