#!/usr/bin/make -f

export DH_GOPKG := github.com/vanilla-os/apx

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	mkdir -p obj-x86_64-linux-gnu/src/${DH_GOPKG}               ; \
	cp -r locales obj-x86_64-linux-gnu/src/${DH_GOPKG}          ; \
	dh_auto_build