#!/bin/sh
# License: GPLv3
# Authors:
#   Mirko Brombin <send@mirko.pm>
# Copyright: 2022
# Description: Apx is a wrapper around apt to make it works inside a container
#   from outside, directly on the host.

# Pacman interface example
PKG_MANAGER_SC_CLEAN="-Sc" # pacman -Sc
PKG_MANAGER_SC_INSTALL="-S" # pacman -S
PKG_MANAGER_SC_LIST="-Q" # pacman -Q
PKG_MANAGER_SC_PURGE="-Rns" # pacman -Rns
PKG_MANAGER_SC_REMOVE="-R" # pacman -R
PKG_MANAGER_SC_SEARCH="-Ss" # pacman -Ss
PKG_MANAGER_SC_SHOW="-Si" # pacman -Si
PKG_MANAGER_SC_UPDATE="-Sy" # pacman -Sy
PKG_MANAGER_SC_UPGRADE="-Syu" # pacman -Syu
